<div class="card m-4">

  <div class="card-header bg-primary text-white">
    <strong>{{editMode ? 'Edit' : 'Add New'}} Account</strong>
  </div>

  <div class="card-body">
    <form [formGroup]="accountForm" (ngSubmit)="submit()">

      <div class="row">
        <div class="col-lg-5">
          <div class="form-group">
            <label>Account Name *</label>
            <input type="text" class="form-control" formControlName="account_name">
          </div>

          <div class="form-group">
            <label>Description *</label>
            <textarea class="form-control" formControlName="description"></textarea>
          </div>

          <div class="form-group">
            <label>URL *</label>
            <input type="text" class="form-control" formControlName="account_url">
          </div>

          <div class="form-group">
            <label>Username *</label>
            <input type="text" class="form-control" formControlName="username_value">
          </div>

          <div class="form-group">
            <label>Password *</label>
            <input type="text" class="form-control" formControlName="password_value">
          </div>

        </div>

        <div class="col-lg-7">
          <div class="card">
            <div class="card-header bg-success text-white d-flex justify-content-between">
              <strong>Extra Parameters</strong>
              <button type="button" class="btn btn-sm btn-warning" (click)="addExtraFieldFormGroup()">
                Add Parameter
              </button>
            </div>

<!--            <div class="card-body" *ngIf="extraFieldFormArray.length === 0">-->
<!--              No Extra Fields-->
<!--            </div>-->
            <ul class="list-group" *ngIf="extraFieldFormArray.length > 0">
              <li class="list-group-item" *ngFor="let contact of getFormGroups(); let formGroupIndex=index;">
<!--              -->

                <div [formGroup]="contact">

                  <div class="row">
                    <div class="col-lg-5">

                      <div class="form-group">
                        <input type="text" class="form-control" formControlName="parameter" placeholder="parameter">
                      </div>

                    </div>

                    <div class="col-lg-5">

                      <div class="form-group">
                        <input type="text" class="form-control" formControlName="value" placeholder="value">
                      </div>

                    </div>

                    <div class="col-lg-1 offset-lg-1">
                      <button type="button" class="btn btn-outline-danger" (click)="removeExtraFieldFormGroup(formGroupIndex)">
                        <fa-icon [icon]="trashIcon"></fa-icon>
                      </button>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="form-group">
                        <textarea class="form-control" formControlName="comment" placeholder="Comment"></textarea>
                      </div>
                    </div>
                  </div>

                </div>

                <!--              -->
              </li>
            </ul>

          </div>
        </div>

      </div>

      <div class="row mt-3">
        <div class="col d-flex justify-content-center">
          <button type="submit" class="btn btn-primary" [disabled]="accountForm.invalid">Submit</button>
        </div>
      </div>
    </form>
  </div>

  <div class="card-footer">
    <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button>
  </div>
</div>
