<div class="mt-4">
  <app-spinner message="Getting People" (dismiss)="showMainSpinner=false" *ngIf="showMainSpinner"></app-spinner>
</div>

<div class="row" *ngIf="!showMainSpinner">

  <div class="col-lg-10 offset-1">

    <div class="card">
      <div class="card-header bg-primary text-white d-flex justify-content-between">
        <strong>Accounts</strong>

        <button type="button" class="btn btn-success btn-sm" routerLink="/add-account">Add Account</button>
      </div>

      <div class="card-body">

        <div class="form-group d-flex form-inline ml-3 justify-content-end">
          <section>
            Search: <input class="form-control ml-2" type="text" [(ngModel)]="searchString" id="partSearchId" (keyup)="filter()">
          </section>
        </div>

        <table class="table table-hover table-borderless table-sm">
          <thead>
          <tr class="table-active">
            <th>Account</th>
            <th>Description</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let account of onePageItems">
            <th [routerLink]="'/account/' + account.id" class="pointer-link">
                {{account.account_name}}
            </th>
            <td [routerLink]="'/account/' + account.id" class="pointer-link">
              {{account.description}}
            </td>
            <td>
              <a class="btn btn-link" [href]="account.account_url" target="_blank">
                <fa-icon [icon]="newTabIcon"></fa-icon>
              </a>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="displayAccounts.length" [maxSize]="5" [(page)]="page" [pageSize]="pageSize">
          </ngb-pagination>

          <div class="form-group form-inline">
            <label for="itemsPerPageId">Items Per Page</label>
            <select class="custom-select ml-2" style="width: auto" [(ngModel)]="pageSize" id="itemsPerPageId">
              <option [ngValue]="pageSize.value" *ngFor="let pageSize of tableItemsPerPage">{{pageSize.display}}</option>
            </select>

          </div>
        </div>


      </div>

    </div>

  </div>

</div>
