<div class="mt-4">
  <app-spinner message="Getting People" (dismiss)="showMainSpinner=false" *ngIf="showMainSpinner"></app-spinner>
</div>

<div class="card" *ngIf="!showMainSpinner">
  <div class="card-header text-white bg-info d-flex justify-content-between">
    <strong>Addresses</strong>
    <button type="button" class="btn btn-sm btn-warning" (click)="openAddAddressModal()">
      Add Address
    </button>
  </div>

  <div class="card-body">
    <table class="table table-borderless table-striped">
      <thead>
      <tr>
        <th>Address</th>
        <th>From</th>
        <th>To</th>
        <th>Comment</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let address of addresses">
        <td>{{address.formattedAddress}}</td>
        <td>{{address.period_start|date:'mediumDate'}}</td>
        <td>{{!!address.period_end ? (address.period_end|date:'mediumDate') : 'Present'}}</td>
        <td>{{address.comment}}</td>
        <td>
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-sm btn-outline-primary" (click)="openEditAddressModal(address.id)">
              <fa-icon [icon]="editIcon"></fa-icon>
            </button>
            <button type="button" class="btn btn-sm btn-outline-danger" (click)="openDeleteAddressModal(address.id)">
              <fa-icon [icon]="trashIcon"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>


<ng-template #addressDeleteModal let-modal>
  <div class="modal-header bg-danger">
    <h5 class="modal-title">Delete Address</h5>
    <button type="button" class="close" (click)="closeDeleteAddressModal()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>WARNING!</p>
    <p>You are going to permanently delete address</p>
    <p>{{deletedAddress.formattedAddress}}</p>
    <p>This action cannot be undone!</p>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-danger" (click)="deleteAddress()">Delete</button>&nbsp;
    <button type="button" class="btn btn-secondary" (click)="closeDeleteAddressModal()" ngbAutofocus>Cancel</button>
  </div>
</ng-template>


<ng-template #addressAddEditModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{addressEditMode ? 'Edit' : 'Add New'}} Address</h5>
    <button type="button" class="close" (click)="closeAddressModal()">
      <span>&times;</span>
    </button>
  </div>
  <form [formGroup]="addEditAddressForm" (ngSubmit)="addressEditMode ? editAddress() : addAddress()">
    <div class="modal-body">

      <div class="form-group">
        <label>Period Start *</label>
        <div class="form-inline">
          <div class="input-group">

            <input type="text" class="form-control" formControlName="period_start" ngbDatepicker #dps="ngbDatepicker" placeholder="yyyy-mm-dd">

            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="dps.toggle()" type="button">
                <fa-icon [icon]="calendarIcon"></fa-icon>
              </button>
            </div>
          </div>
        </div>

      </div>

      <div class="form-group">
        <label>Period End</label>
        <div class="form-inline">
          <div class="input-group">

            <input type="text" class="form-control" formControlName="period_end" ngbDatepicker #dpe="ngbDatepicker" placeholder="yyyy-mm-dd">

            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="dpe.toggle()" type="button">
                <fa-icon [icon]="calendarIcon"></fa-icon>
              </button>
            </div>
          </div>
        </div>

      </div>

      <div class="form-group" *ngIf="!addressEditMode">
        <label>Address *</label>
        <input type="text" class="form-control" formControlName="address_line1">
      </div>

      <div class="form-group" *ngIf="!addressEditMode">
        <label>Address (continuation)</label>
        <input type="text" class="form-control" formControlName="address_line2">
      </div>

      <div class="form-group" *ngIf="!addressEditMode">
        <label>Apartment/Suite</label>
        <input type="text" class="form-control" formControlName="apt_suite">
      </div>

      <div class="form-group" *ngIf="!addressEditMode">
        <label>City *</label>
        <input type="text" class="form-control" formControlName="city">
      </div>

      <div class="form-group" *ngIf="!addressEditMode">
        <label>State/Province *</label>
        <select class="form-control" formControlName="state">
          <option>Select State</option>
          <option *ngFor="let state of allStates" [value]="state.abbreviation">{{state.name}}</option>
        </select>
      </div>

      <div class="form-group" *ngIf="!addressEditMode">
        <label>Zip Code *</label>
        <input type="text" class="form-control" formControlName="zip_code">
      </div>

      <div class="form-group">
        <label>Comment</label>
        <textarea class="form-control" formControlName="comment"></textarea>
      </div>

    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" ngbAutofocus [disabled]="addEditAddressForm.invalid">{{addressEditMode ? 'Update' : 'Add'}}</button>&nbsp;
      <button type="button" class="btn btn-secondary" (click)="closeAddressModal()">Cancel</button>
    </div>
  </form>

</ng-template>
