<div class="modal-header">
  <h5 class="modal-title">{{editMode ? 'Edit ' : 'Add New '}} Person</h5>
  <button type="button" class="btn-close" (click)="closeModal()"></button>
</div>

<form [formGroup]="addPersonForm" (ngSubmit)="submit()">
  <div class="modal-body">

    <div class="mb-3">
      <label>First Name *</label>
      <input type="text" class="form-control" formControlName="first_name">
    </div>

    <div class="mb-3">
      <label>Last Name *</label>
      <input type="text" class="form-control" formControlName="last_name">
    </div>

    <div class="mb-3">
      <label>Email *</label>
      <input type="email" class="form-control" formControlName="email">
    </div>

    <div class="mb-3">
      <label>Phone Number *</label>
      <input type="text" class="form-control" formControlName="phone" [textMask]="phoneConfig">
    </div>

    <div class="mb-3">
      <label>Social Security Number *</label>
      <input type="text" class="form-control" formControlName="ssn" [textMask]="ssnConfig">
    </div>

    <label>Date Of Birth *</label>
    <div class="form-inline">
      <div class="input-group">

        <input type="text" class="form-control" formControlName="dob" ngbDatepicker #dp="ngbDatepicker" placeholder="yyyy-mm-dd">

          <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
            <fa-icon [icon]="calendarIcon"></fa-icon>
          </button>
      </div>
    </div>

  </div>
  <div class="modal-footer d-flex justify-content-between">
    <button type="submit" class="btn btn-primary" ngbAutofocus [disabled]="addPersonForm.invalid">{{editMode? 'Update' : 'Add'}}</button>&nbsp;
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
  </div>
</form>
