<div class="mt-4">
  <app-spinner message="Getting Vehicle Info" (dismiss)="showMainSpinner=false" *ngIf="showMainSpinner"></app-spinner>
</div>

<div class="row" *ngIf="!!vehicle">
  <div class="col-lg-8 offset-lg-2">

    <div class="card">
      <div class="card-header bg-light d-flex justify-content-between">
        <strong>{{vehicle.make}} {{vehicle.vehicle_model}}</strong>

<!--        <button type="button" class="btn btn-warning btn-sm">Retire</button>-->

        <div class=" btn-group btn-group-sm">
          <button type="button" class="btn btn-outline-primary" (click)="openEditModal()">
            Edit
          </button>
          <button type="button" class="btn btn-outline-danger" (click)="openRemoveModal()">
            Remove
          </button>

        </div>
      </div>

      <div class="card-body">

        <div class="row">
          <div class="col-lg-4"><span><strong>Make</strong></span></div>
          <div class="col-lg-8"><span><em>{{vehicle.make}}</em></span></div>
        </div>

        <div class="row">
          <div class="col-lg-4"><span><strong>Model</strong></span></div>
          <div class="col-lg-8"><span><em>{{vehicle.vehicle_model}}</em></span></div>
        </div>

        <div class="row">
          <div class="col-lg-4"><span><strong>Year</strong></span></div>
          <div class="col-lg-8"><span><em>{{vehicle.year}}</em></span></div>
        </div>

        <div class="row">
          <div class="col-lg-4"><span><strong>License Plate</strong></span></div>
          <div class="col-lg-8"><span><em>{{vehicle.license_plate}}</em></span></div>
        </div>

        <div class="row">
          <div class="col-lg-4"><span><strong>V.I.N.</strong></span></div>
          <div class="col-lg-8"><span><em>{{vehicle.vin}}</em></span></div>
        </div>

        <div class="row">
          <div class="col-lg-4"><span><strong>Date Purchased</strong></span></div>
          <div class="col-lg-8"><span><em>{{vehicle.purchase_year| date :'mediumDate'}}</em></span></div>
        </div>

      </div>

      <div class="card-footer">
        <button type="button" class="btn btn-secondary" (click)="goBack()">Back</button>
      </div>

    </div>

  </div>
</div>


<ng-template #removeVehicleModal let-modal>
  <div class="modal-header bg-danger text-white">
    <h5 class="modal-title">Remove Vehicle</h5>
    <button type="button" class="btn-close" (click)="closeRemoveVehicleModal()"></button>
  </div>

  <div class="modal-body">
    <span><strong>WARNING!</strong></span>

    <p>You are going to remove <em>{{vehicle.make}} {{vehicle.vehicle_model}}</em></p>
    <p>Are you sure?</p>

  </div>

  <div class="modal-footer d-flex justify-content-between">
    <button type="button" class="btn btn-primary" (click)=removeVehicle()>Retire</button>&nbsp;
    <button type="button" class="btn btn-secondary" autofocus (click)="closeRemoveVehicleModal()">Cancel</button>
  </div>
</ng-template>
